<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ details.strDrink }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- ... -->
</head>

<body>
    <header>
        <form action="{{ url_for('search_cocktails') }}" method="get" class="search-form">
            <div class="search-container">
                <button type="submit" class="search-icon-button">
                    <img src="{{ url_for('static', filename='icons/search.png') }}" alt="Search" class="search-icon"/>
                </button>
                <input type="text" name="query" placeholder="Rechercher des cocktails..." class="search-bar">
            </div>
        </form>
        <div class="icons">
            <a href="/profile">
                <img src="{{ url_for('static', filename='icons/profile.png') }}" alt="Profile" />
            </a>
            <a href="/favorites">
                <img src="{{ url_for('static', filename='icons/favorite.png') }}" alt="Favorites" />
            </a>
        </div>
        
    </header>

    <main>
        <div class="cocktail-details-container">
            <div class="cocktail-image-container">
                <img src="{{ details.strDrinkThumb }}" alt="{{ details.strDrink }}" class="cocktail-image">
            </div>
            <div class="cocktail-info-container">
                <h1>{{ details.strDrink }}</h1>
                <h2>Ingrédients et Mesures</h2>
                <ul class="ingredients-list">
                    {% for i in range(1, 16) %}
                        {% set ingredient = details.get('strIngredient' ~ i) %}
                        {% set measure = details.get('strMeasure' ~ i) %}
                        {% if ingredient and ingredient != 'nan' %}
                            <li>
                                <span class="ingredient">{{ ingredient }}</span>
                                {% if measure and measure != 'nan' %}
                                    <span class="measure">{{ measure }}</span>
                                {% else %}
                                    <span class="measure">À goût</span>  <!-- Ou une autre chaîne de votre choix -->
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <h2>Instructions</h2>
                <p>{{ details.strInstructions }}</p>
            </div>
        </div>
    </main>
</body>
</html>