<!DOCTYPE html>
<html>
<head>
    <title>Swipe for Cocktails</title>
    <style>
        .cocktail-image {
            max-width: 300px;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="cocktail">
        <!-- Affichage du nom du cocktail -->
        <h2 class="cocktail-name">{{ recipe['name'] }}</h2>

        <!-- Affichage de l'image du cocktail -->
        <img src="{{ recipe['image'] }}" alt="Image of {{ recipe['name'] }}" class="cocktail-image">

        <!-- Affichage des ingrédients du cocktail -->
        <p class="cocktail-ingredients"><strong>Ingredients:</strong> {{ recipe['ingredients'] }}</p>

        <!-- Formulaire pour "liker" le cocktail -->
        <form method="post" action="{{ url_for('like') }}">
            <input type="hidden" name="recipe_id" value="{{ recipe['idDrink'] }}">
            <button type="submit">Like</button>
        </form>

        <!-- Formulaire pour "passer" le cocktail -->
        <form method="post" action="{{ url_for('pass_recipe') }}">
            <input type="hidden" name="recipe_id" value="{{ recipe['idDrink'] }}">
            <button type="submit">Pass</button>
        </form>
    </div>
</body>
</html>
